.container {
    height:400px;
        display:flex;
    border:2px solid green;
    /* flex-direction: column-reverse; */
    flex-direction:row;
    flex-wrap:wrap;
    flex-basis:50%; 
   
   justify-content:center;
   align-items:center;
   align-content:flex-start;
      

        
}
.box{
    border:1px solid pink;
    background-color: aqua;
    width:150px;
    flex-basis: 50%;
}
#box1{
    order:1; 
   
}
#box3{
    order:8;   
    align-self:flex-end;
}
#box2{
    order:4;
    background-color: pink;
    align-self:flex-start;
}
*{
    box-sizing: border-box;
}